<!-- <div fxLayout="column" fxFlex="80" fxFlex.xs="100"  fxFlex.sm="70" fxLayoutAlign="space-around stretch" class="widgetHolder mat-elevation-z4"  fxLayoutGap="20px"  >
	<div fxLayout="column" class="widgetHolder-content">
       	<div fxLayout="column" class=" mat-elevation-z4">
        
			<div  fxLayoutAlign="space-around stretch" fxLayoutWrap >
                <mat-form-field class="example-full-width">
                    Username <input matInput placeholder="Username" value=" ">
                    Password <input matInput placeholder="Password" value=" " type="Password">
                </mat-form-field> 
            </div>
        </div>
    </div>
</div>
	<p>
  pages2 works!
</p> --> 