@import '~@angular/material/theming';

@mixin chatsender($theme) {
    $primary: map-get($theme, primary);

    .sender-message-text{
        width: 100%;
        background: mat-color($primary,300); 
        color: white;
        padding: 10px;
        text-align:left;
    }
    .img-wrap{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        .img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
