.setToCenter
{
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}

canvas {
    border: 1px solid #000;
    background-color: #ebd8f7; 
    align-content: center;
  }

  .footer{
      padding-right: 10px;
  }

