.routes-header {
	background-color: #15980d;
	color: white;
	padding: 0 5px;
}
.routes-container {
	padding: 5px 15px 15px 15px;
	height:350px;
}

.routes-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.cdk-routes-holder {
	border: 1px solid #327ebd;
	background-color: white;
}
