<div fxLayout="column" fxLayoutAlign="space-evenly stretch" style="border: 1px solid #00B8D4">
		
	<div class="form-header" style="padding: 0 20px;">
		<h3>Guarded Routes</h3>
	</div>
	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center" style="background-color: white;" class="container" >
	
		 <button mat-raised-button color="primary" (click)="Onclick()" > Click Here</button>
	
	
		 <button mat-raised-button color="warn" (click)="Onclicked()" > Click Here</button>
	
	</div>

</div>
<router-outlet></router-outlet>

