.doughnut-graph-graph-holder{
    margin: 10px 5px;
    background-color:white;
}
.nav-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
  }
}