.expansion-header {
		background-color: #327ebd;
		color: white;
		padding: 0 5px;
	}
.expansion-container {
		padding: 5px;
		// color: white;
	}
.expansion-component-holder {
	border: 1px solid #327ebd;
	background-color: white;

	h4 {
		color: #327ebd;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}
