@use '~@angular/material' as mat;

@mixin auth($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);


    .sidenav{
       background: mat.get-color-from-palette($primary,400);
        overflow: hidden;
        position: relative;
        width: 250px;
    }
    .drawer{
       background: mat.get-color-from-palette($primary,400);
        overflow: hidden;
        position: relative;
        width: 80px;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }

    .logo{
        font-size: 26px;font-family: Roboto;color:white;margin-top: 8px;
    }
}

