

   	<div fxLayout="column" class="widgetHolder-content" style="background-color: white">
        <!-- Basic Radios section start -->
                
        <div fxLayout="column" class=" mat-elevation-z4">
		<mat-toolbar>
			Configurable Progress bar

			<span class="spacer"></span>
			<button mat-icon-button (click)="showSource = !showSource">
				<mat-icon class="refresh">code</mat-icon>    
			</button>
		</mat-toolbar>

		
        <div *ngIf="showSource">


            <mat-tab-group>
              <mat-tab label="HTML">
                  <pre><code mwlHighlightJs [source]="htmlsource" language="html"></code></pre>
              </mat-tab>
              <mat-tab label="TS">
                  <pre><code mwlHighlightJs [source]="tssource" language="typescript"></code></pre>
              </mat-tab>
            </mat-tab-group>
        </div>
     	<div  fxLayoutAlign="space-around stretch" fxLayoutWrap >
            <mat-card>
			  <mat-card-content>
			    <h2 class="example-h2">Progress spinner configuration</h2>

			    <section class="example-section">
			      <label class="example-margin">Color:</label>
			      <mat-radio-group [(ngModel)]="color">
			        <mat-radio-button class="example-margin" value="primary">
			          Primary
			        </mat-radio-button>
			        <mat-radio-button class="example-margin" value="accent">
			          Accent
			        </mat-radio-button>
			        <mat-radio-button class="example-margin" value="warn">
			          Warn
			        </mat-radio-button>
			      </mat-radio-group>
			    </section>

			    <section class="example-section">
			      <label class="example-margin">Mode:</label>
			      <mat-radio-group [(ngModel)]="mode">
			        <mat-radio-button class="example-margin" value="determinate">
			          Determinate
			        </mat-radio-button>
			        <mat-radio-button class="example-margin" value="indeterminate">
			          Indeterminate
			        </mat-radio-button>
			      </mat-radio-group>
			    </section>

			    <section class="example-section" *ngIf="mode == 'determinate'">
			      <label class="example-margin">Progress:</label>
			      <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
			    </section>
			  </mat-card-content>
			</mat-card>
			<mat-card>
			  <mat-card-content>
			    <h2 class="example-h2">Result</h2>

			    <mat-progress-spinner
			        class="example-margin"
			        [color]="color"
			        [mode]="mode"
			        [value]="value">
			    </mat-progress-spinner>
			  </mat-card-content>
			</mat-card>
        </div>
    </div>
</div>