.table-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
}