<div fxLayout="column" >
    <div class="service-header" fxLayout="column" fxLayoutAlign="center stretch" >
        <div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px;" fxLayout="row" fxLayoutAlign="center stretch">

            <div fxFlex="35"  fxFlex.lt-sm="100" fxLayout="row" style="background-color: #45aae3; padding: 20px;"  fxLayoutAlign="center stretch" >
              <div>
                <h3 class="mat-display-1">Modern Garden Gate 1</h3>
                <mat-divider></mat-divider>
                <p class="mat-body-2">
                    This Modern Garden gate is with a Island Thyme is Custom made according to the wishes of a home owner. A Metal Security Driveway Gates Don't have to take away from the beauty of your main home Entrance we can Custom make the 
                    gate to compliment you home Entry.
                </p>
                
              </div>
            
            </div>
            <div fxFlex="65" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
              <img style="width: 415px;" src="../../../assets/Unknown.jpg">
            </div>
            
          </div>
    </div>
</div>