



<div fxLayout="column"  class="components-container-gt-xs"   fxLayoutGap="20px">

  <div fxFlex class="about-component-holder mat-elevation-z4">

    <mat-toolbar class="about-header" color="primary">
      <h1 class="mat-headline center-align">About Us</h1>
    </mat-toolbar>

    <div class="about-container">
      <p align="justify">
        GateNFences is a family owned business established in 1993.
        We also have a display at Home Base in Subiaco.

        We specialise in the Supply and Installation of Aluminium Gates, Panels, Fencing etc.

        ​

        Our success is due to our commitment to a few simple principles:



        Stay true to the customer by providing products that are superior in quality, safety and value.

        ​

        Listen to our customer's needs and provide unique alternatives that reflect our years of perspective and experience.

        ​

        Recognise that our customers are often educated consumers who have a good idea of what they want, and if we listen, we will get it right.

        ​

        Understand that the ongoing success of our business is determined by customer satisfaction.

        ​

        We take pride in the fact that our office staff are dedicated to good service, paying attention to every detail of the order process and working within the customer's schedule.

        ​

        Our installers and servicemen are specialists with multiple skills and talents. We only employ tradesmen who take pride in their work as they add security and beauty to each home.

        ​

        Our hope is that you will recognise our sincerity and commitment to good service and take the next step to contact us so we may begin working together to enhance the beauty of your home.

        ​

        Our proven track record, along with our excellent reputation will provide you with outstanding service.

        ​

        We manufacture your designs and ideas on our premises.



      </p>
      <br>





    </div>



  </div>

</div>









<mat-toolbar >
  Our Team
</mat-toolbar>





<div fxLayout="column" >




  <hr/>
  <mat-card>
    <mat-card-header>

      <mat-card-title><b>DESIGN</b></mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <p class="mat-body-1">
        We design and manufacture gates:

        DOUBLE GATES * SINGLE GATES * AUTOMATIC GATES IN ALUMINIUM TUBE * ALUMINIUM SLATS IN BOTH BETTERWOOD WOODGRAIN FINISH AND POWDERCOAT COLOURS *LASER CUT DECORATIVE ALUMINIUM SCREENS.
      </p>



    </mat-card-content>

  </mat-card>
  <hr/>
  <mat-card>
    <mat-card-header>

      <mat-card-title><b>FENCING AND SCREENS</b></mat-card-title>

    </mat-card-header>

    <mat-card-content >
      <p class="mat-body-1">
        GLASS POOL FENCING * ALUMINIUM POOL FENCING * ALUMINIUM SLAT FENCING * COLORBOND FENCING * OUTDOOR SCREENS * LASER CUT DECORATIVE SCREENS * ALUMINIUM SLAT SCREENS * ALUMINIUM FIXED LOUVRE SCREENS * ALUMINIUM ADJUSTABLE LOUVRE SCREENS.
      </p>



    </mat-card-content>

  </mat-card>
  <hr/>
  <mat-card>
    <mat-card-header>

      <mat-card-title><b>CREATE</b></mat-card-title>

    </mat-card-header>

    <mat-card-content >
      <p class="mat-body-1">
        Let us help you create a fantastic first impression.
      </p>



    </mat-card-content>

  </mat-card>
  <hr/>
  <mat-card>
    <mat-card-header>

      <mat-card-title><b>INSTALL</b></mat-card-title>

    </mat-card-header>

    <mat-card-content >
      <p class="mat-body-1">
        You can trust our experienced team for quality workmanship.
      </p>



    </mat-card-content>

  </mat-card>
  <hr/>



  <mat-card>
    <mat-card-header>

      <mat-card-title><b>DIY OPTIONS</b></mat-card-title>

    </mat-card-header>

    <mat-card-content >
      <p class="mat-body-1">
        We have a range of DIY options for renovators and DIY enthusiasts!

        Email us your plans and we will manufacture for DIY install.

        We also supply the full range of BETTERWOOD ALUMINIUM SLATS AND EXTRUSIONS (www.betterwood.com.au)
      </p>



    </mat-card-content>

  </mat-card>
  <hr/>
  <mat-toolbar >
    Factory
  </mat-toolbar>
  <mat-card>


    <mat-card-content >
      <p class="mat-body-1">
        Based in Paignton, Devon our double factory is over 15,000 square feet. This includes our wood factory and metal factory, cutting areas, stain area, double spray booths, wrapping room and despatch.  Included on site is our main office which is home to our sales team, customer service and HR.
      </p>



    </mat-card-content>

  </mat-card>

  <mat-toolbar >
    Charity Work
  </mat-toolbar>
  <mat-card>


    <mat-card-content >
      <p class="mat-body-1">
        Over the years we have donated services/ products for a range of UK based charities. The main charity event we've had the pleasure in being part of was "The Little Miracles Project". Part of BBC's Children in Need - The Big Build with DIY SOS. This involved the bespoke production and installation of gates and fencing. We have also been on ITV1, Love your Garden with Alan Titchmarsh. Here we donated one of our metal framed side gates (The York) to an elderly war veteran. More info.
        </p>



    </mat-card-content>

  </mat-card>
  <mat-toolbar >
    Putting the Customer First
  </mat-toolbar>
  <mat-card>


    <mat-card-content >
      <p class="mat-body-1">
        We believe in offering the best in customer service and trust within our industry. We have a dedicated customer service team who are on hand to deal with delivery times, damage in delivery or any other issues you have with our product. Since 2015, Gates and Fences UK have been a member of the "Buy with confidence" scheme, controlled and organised by Trading Standards. This involved Gates and Fences UK being tightly monitored by Trading Standards for over 6 months. During which, random customers were contacted and asked for reports along with multiple visits from the areas Trading Standards officer. This was to ensure how we operate, hold customer data, take payments, manufacture and delivery of goods all complied with the UK trading laws. Read more about the "Buy with Confidence" scheme.
      </p>



    </mat-card-content>

  </mat-card>










