
<div  class="weather mat-elevation-z4">
        <div fxLayout="column"  fxLayoutAlign="center  start"  class="weatherimage" >  
            
            <mat-icon class="weathericons no-margin">
                wb_sunny
            </mat-icon>
            <h2   class="mat-headline temperature" >
                73<sup><sup>o</sup>C</sup>    
            </h2>
            <h2   class="mat-headline place" >
                KERALA, KOCHI
            </h2>
        </div>
        <!-- <div fxLayout="row" class="mat-body-1 weather-next"  fxLayoutAlign="space-around center" >
            <div fxFlex="25" >
                <mat-icon class="weather-series">
                    wb_sunny
                </mat-icon>
                sunny
            </div>
            <div fxFlex="25" >
                <mat-icon class="weather-series">
                    grain
                </mat-icon>
                winty
            </div>
            <div fxFlex="25" >
                <mat-icon class="weather-series">
                    cloud
                </mat-icon>
                cloudy
            </div>
            <div fxFlex="25" >
                <mat-icon class="weather-series">
                    wb_sunny
                </mat-icon>
                sunny
            </div>
        </div> -->




         <!-- <div fxFlex="10" >  
            <h1 class="mat-headline headerDate"   > Nov 13th, 2017</h1>     
        </div>
         <div fxFlex="50" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between  none" >
            <div fxFlex="60" fxLayout="column" fxLayoutAlign="end start"  >
                
                <h2  fxFlex="30" class="mat-headline temperature" >
                    73<sup>C</sup>    
                </h2>
                <h2  fxFlex="30" class="mat-headline temperature" >
                    7.30 pm
                </h2>
            </div>
            <div  fxFlex="40" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="10px" >
                <mat-icon class="weathericons no-margin">
                    wb_sunny
                </mat-icon>
                <p class="mat-body-2 iconstext no-margin " >
                    Bright Day :)
                </p> 
            </div> 
        </div>  -->
        
    
</div>