
.widgetHolder {
	padding: 10px;
}
.mat-list-item {
	background: white !important;
	border-bottom: 1px solid #e4e4e4;
}

.label-header {
	margin-top: 5px;
	margin-bottom: 5px;
}
.block-header {
	font-size: 18px;
	color: midnightblue;
	font-weight: bold;
}
.block-details-key {
	font-size: 14px;
	color: midnightblue;
	font-weight: bold;
    min-width: 20px;
    padding-top: 5px;
}
 .card-blocks {
	 margin-top: 10px;
	 background-color: #F5F5F5;
	 border-radius: 10px;
 }

.example-container {
	display: flex;
	flex-direction: column;
}

.example-container > * {
	width: 100%;
}

.payment-back{

	background-color: #3B56AE;
	padding: 10px;
	display: inline-block;
    flex-direction: column;
    width: 100%
}

.tdtd {
    min-width: 20px;
}

.button-containers {
    flex-direction: row;
}

#back {
    margin-left: 5px;
    float: left;
    width: 400px;
    height: 50px;
}

#confirm {
    margin-right :5px;
    float: right;
    width: 400px;
    height: 50px;
    background-color: darkcyan
}

.button-containers {
    height: 100px;
    padding: 30px
}