<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px" >
    <div fxFlex class="slider-component-holder mat-elevation-z4">
    	<mat-toolbar class="slider-header">
    		<h3 class="mat-headline center-align">Slider</h3>
    	</mat-toolbar>
    	
    	<div class="slider-container">
    		
    		
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
                    <h4  class="mat-subheading-2 center-align">Basic Slider</h4>
                        <mat-divider></mat-divider>
                        <mat-slider></mat-slider>
                </div>
           

    			<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
    				<h4 class="mat-subheading-2 center-align">Slider configuration</h4>
    				<mat-divider></mat-divider>

    				<section class="example-section">
                        <mat-form-field class="example-margin">
                        	<input matInput type="number" placeholder="Value" [(ngModel)]="value">
                        </mat-form-field>
                        <mat-form-field class="example-margin">
                        	<input matInput type="number" placeholder="Min value" [(ngModel)]="min">
                        </mat-form-field>
                        <mat-form-field class="example-margin">
                        	<input matInput type="number" placeholder="Max value" [(ngModel)]="max">
                        </mat-form-field>
                        <mat-form-field class="example-margin">
                        	<input matInput type="number" placeholder="Step size" [(ngModel)]="step">
                        </mat-form-field>
                    </section>


                    <section class="example-section">
                        <mat-checkbox class="example-margin" [(ngModel)]="showTicks">Show ticks</mat-checkbox>
                        <mat-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks">
                            Auto ticks
                        </mat-checkbox>
                        <mat-form-field class="example-margin" *ngIf="showTicks && !autoTicks">
                            <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
                        </mat-form-field>
                    </section>
                    <br>
                    <section class="example-section">
                      <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
                    </section>

                    <section class="example-section">
                      <mat-checkbox class="example-margin" [(ngModel)]="vertical">Vertical</mat-checkbox>
                      <mat-checkbox class="example-margin" [(ngModel)]="invert">Inverted</mat-checkbox>
                    </section>

                    <section class="example-section">
                      <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
                    </section>


                    <section>
            
                        <label class="mat-title center-align" >Result</label>
                       

                        <mat-slider
                            class="example-margin"
                            [disabled]="disabled"
                            [invert]="invert"
                            [max]="max"
                            [min]="min"
                            [step]="step"
                            [thumb-label]="thumbLabel"
                            [tick-interval]="tickInterval"
                            [value]="value"
                            [vertical]="vertical">
                        </mat-slider>
                    </section>
    			</div>
            </div>
        </div>
    </div>
    <div fxFlex class="slider-component-holder mat-elevation-z4">
		<mat-toolbar class="slider-header" >
			<h3 class="mat-headline center-align">Examples</h3>
		</mat-toolbar >

		<mat-tab-group fxFlexFill>
			<mat-tab label="TS">
                <div class="component-preview">
	               <pre style="white-space:pre-line;"><code mwlHighlightJs [source]="sliderHelpers?.tsSourceSlider" language="typescript"></code></pre>
                </div>
	        </mat-tab>
	        <mat-tab label="HTML">
                <div class="component-preview">
	               <pre style="white-space:pre-line;"><code mwlHighlightJs [source]="sliderHelpers?.htmlSourceSlider" language="html"></code></pre>
                </div>
	        </mat-tab>

	        <mat-tab label="PREVIEW">
	        	<div class="component-preview">
		        	<mat-slider></mat-slider>
			  	</div>
	        </mat-tab>
	    </mat-tab-group>
    </div>
</div>