<div fxLayout="column" fxLayoutAlign="center center"  style="height: 700px;">
	
	<div fxLayout="column" fxLayoutAlign="center center"   >

			<div>
				<mat-form-field class="example-full-width">
		            <label>Username </label>
		            <input matInput>
	        	</mat-form-field>
			</div>

			<div>
				<mat-form-field class="example-full-width">
	            	<label>Password</label>
	            	<input matInput value="" type="password">
	        	</mat-form-field>
			</div>
	        
	        <div>
	        	<mat-card-actions>
	            	<button mat-button full>Login</button>
	        	</mat-card-actions>
	        </div>
	        
	        
	</div>


</div>