.sidenav-dropdown-indicator {
    transition: transform .25s;
    &.indicateOpen {
        transform: rotate(180deg);
    }
}
mat-nav-list {
    overflow: hidden;
    height: 48px;
    transition: height .4s cubic-bezier(.35, 0, .25, 1);   
}

