@import '~@angular/material/theming';

@mixin dashcard($theme) {
    .dashcard{
        color:white;
        background:white;

    }
    mat-icon.cardIcon{
        height: 40px;
        width: 40px;
        font-size: 40px;
        color: white;  ;
    }
    .no-margin{
        margin: 0px;
    }
    .border-top {
        border-top: 1px solid white;
    }

}    



