cdk-message-sender {
	.message {
        background: #e1ffc7;
        margin-right: 12px;
        margin-left: 12px;
        padding: 8px;
        position: relative;
        word-wrap: break-word;
    	word-break: break-word;


    // box-shadow: 0 0 0 -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    }
    .message::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent transparent #e1ffc7;
        top: 0;
        right: -10px;
    }
}