<div  fxLayout="column"   fxLayoutGap="10px"   fxLayoutAlign="start stretch"  >
    
    <div fxFlex="49"  fxLayout="row">
        <div fxFlex="49" class="line-chat-wide mat-elevation-z4 " [ngStyle]="{margin: 'auto',  'height':'220px'}">
            <canvas id="chart-0"></canvas>
        </div>
        <div  fxFlex="49"  class="line-chat-wide mat-elevation-z4 " [ngStyle]="{margin: 'auto', 'height':'220px',padding: '10px 0px'}">
            <canvas id="chart-1" ></canvas>
        </div>
    </div>
    <div fxFlex="49" fxLayout="row">
        <div  fxFlex="99"  class="line-chat-wide mat-elevation-z4 " [ngStyle]="{margin: 'auto', 'height':'220px'}">
            <canvas id="chart-3"></canvas>
        </div>
    </div>
    
</div>