// cdk-cards {
	.cards-header {
		background-color: #327ebd;
		color: white;
		padding: 0 5px;
	}
	.cards-container {
		padding: 5px;
		// color: white;
	}
.example-header-image {
  background-image: url('../../../assets/Unknown.jpg');
  background-size: cover;
}
.ex2{
	background-image: url('../../../assets/gate2.jpg');
	background-size: cover;
}
.ex3{
	background-image: url('../../../assets/gate3.jpg');
	background-size: cover;
}

.bc{
	background-color: #edffff;
}

.cdk-card-holder {
	border: 1px solid #327ebd;
	background-color: white;
}

.content{
	height: 25%;
    width: 25%;
}

.para{
    padding-left: 5%;
    width: 100%;
}
 .bc2{
	background-color: #fde6e2; 
 }

 .service-header {
    height: 350px; width: 100%;
    padding: 30px 0 0 0;
    color: white;
    .content {
         background-color: white;
    }
    h3 {
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    p {
        margin: 0;
        text-align: center;
    }
    mat-divider {
            border-top-color: white;
    }

}
.service-card-content{
    .service-card-container {
        padding: 20px;
        .service-card {
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            cursor: default;
            //background-color: white;
            padding: 20px;
            img {
                height: 200px;
            }
            h3 {
                margin: 0;
            }
            p {
                margin: 0;
                text-align: center;
            }
            &:hover {
                transform: translate(0, -8px);
                box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
          }
        }
    }
}

.imageContainer :hover img   {
    width: 500px;
    height: 200px;
  }


	.input-header {
		background-color: #327ebd;
		color: white;
		padding: 0 5px;
	}
	.input-container {
		padding: 5px 15px 15px 15px;
		
	}
.input-component-holder {
	border: 1px solid #327ebd;
	background-color: white;

	h4 {
		color: #327ebd;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}

.example-container > *{
    width: 100%;
}