@import '~@angular/material/theming';
@import '~app/auth/auth.component.scss';
@import '~app/core/sidemenu/sidemenu.component.scss';
@import '~app/core/sidemenu-item/sidemenu-item.component.scss';
@import '~app/dashboard-widget/dashcard/dashcard.component.scss';
@import '~app/dashboard-widget/profile-card/profile-card.component.scss';
@import '~app/dashboard-widget/round-progressbar/round-progressbar.component.scss';
@import '~app/dashboard-widget/sales-list/sales-list.component.scss';

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-indigo, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();

$primary : $mat-indigo;
$accent  : $mat-orange;
$warn    : $mat-red;



$primary-app-primary: mat-palette($primary , 400);
$primary-app-accent:  mat-palette($accent , 900);
$primary-app-warn:    mat-palette($warn );
$cdk-theme:   mat-light-theme($primary-app-primary, $primary-app-accent,$primary-app-warn);

cdk-sidemenu{
    $sidemenu-app-primary: mat-palette($primary , 400);
    $sidemenu-app-accent:  mat-palette($accent , 900);
    $sidemenu-app-warn:    mat-palette($warn );
    $cdk-sidemenu-theme:   mat-dark-theme($sidemenu-app-primary, $sidemenu-app-accent,$sidemenu-app-warn);
    @include mat-list-theme($cdk-sidemenu-theme); 
}
   

cdk-sidemenu-item{
    @include sidemenu-item($cdk-theme,20px)
}


cdk-dashcard {
    $dashcard-primary: mat-palette($primary);
    $dashcard-accent:  mat-palette($accent);
    $dashcard-warn:    mat-palette($warn);
    $dashcard-theme:   mat-dark-theme($dashcard-primary, $dashcard-accent,$dashcard-warn);
    @include dashcard($dashcard-theme);    
}

cdk-profile-card{
  $dashboard-profile-primary: mat-palette($primary , 400);
    $dashboard-profile-accent:  mat-palette($accent , 900);
    $dashboard-profile-warn:    mat-palette($warn );
    $cdk-dashboard-profile-theme:   mat-dark-theme($dashboard-profile-primary, $dashboard-profile-accent,$dashboard-profile-warn);
    @include dashboard-profile($cdk-dashboard-profile-theme); 
    @include mat-tabs-theme($cdk-dashboard-profile-theme); 
}
@include angular-material-theme($cdk-theme);
@include auth($cdk-theme);
@include round-progressbar($cdk-theme);
@include sales-list($cdk-theme);


body{
  padding: 0px !important;
  margin: 0px !important;
}
.components-container-gt-xs {
    padding: 20px;
    // background-color: #fdfdfd;
}
.components-container-xs {
    padding: 5px !important;
    // background-color: #fdfdfd;
}
.component-preview {
    padding: 20px;
}
.ps-content {
  height: 100%;
}
