 <div fxLayout="column" fxFlex="50" fxFlex.xs="100"  fxFlex.sm="70" fxLayoutAlign="space-around stretch" class="widgetHolder mat-elevation-z4"  fxLayoutGap="20px"  >
    <mat-toolbar align="center">
       Login
        <span class="spacer"></span>
    </mat-toolbar>
    <div fxLayout="column" class="widgetHolder-content" fxLayoutAlign="space-around stretch"  >
        <mat-form-field class="example-full-width">
            <label>Username </label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <label>Password</label>
            <input matInput value="" type="password">
        </mat-form-field>
        <div fxLayoutAlign="space-around stretch" fxFlex="50" fxFlex.xs="100"  fxFlex.sm="70">
        <mat-card-actions>
            <button mat-button full>Login</button>
        </mat-card-actions>
    </div>
    </div>
</div>