    .dashcard{
        background:#009688; //500
        color:white;
    }
    .cardIcon{
        height: 40px;
        width: 40px;
        font-size: 40px;
        color: white;  ;
    }
    .no-margin{
        margin: 0px;
    }
    .iconblox{
        background:#00796b;//700
    }
    .border-top {
        border-bottom: 1px solid white;
    }

