@import '~@angular/material/theming';

@mixin appcomponent($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    .sidenav{        
        height: 100%;
        width: 240px;
        background-color: mat-color($primary,400);
    }
    .primary-toolbar {
      position: fixed;
      top: 0
    }
    .logo{
        width: 30px;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .search-input{
      width:500px;
    }
}

//
.appHolder{
        padding: 10px 10px;
        overflow: auto;
        height: calc(100% - 64px);
        background: #e9eef5;
    }
#appHolder::scrollbar-track
{

            background: rgba(222, 222, 222, .75);
            opacity: 0;
            border-radius: 0;
            // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            // background-color: rgba(222, 222, 222, .75);
            transition: opacity 0.5s 0.5s ease-out;
            // display: none;
}
#appHolder::scrollbar
{
            width: 8px;
}
#appHolder::scrollbar-thumb
{
            // transform: translate3d(0px, 196.787px, 0px);
            background: rgba(0,0,0,0.2);
            border-radius: 0;
}

.mat-drawer-content {
      overflow-y: hidden !important;
    }

.loader-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: absolute;
    
    -moz-animation: cssAnimation 1s ease-in 3s forwards;
    /* Firefox */
    animation: cssAnimation 1s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 1s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 1s ease-in 3s forwards;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity:0;
        display: none;
        visibility:hidden;
    }
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
        opacity:0;
        display: none;
    }
}



.spinner {
    margin: 50vh auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
    background-color: orange;
}

.spinner .bounce1 {
    background-color: blue;
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
    background-color: red;
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}



@keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
    transform: scale(1.0);
  }
}