.form-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px;
}
.validation-message{
	background-color: #00BCD4;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.form-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
}
