.form-header {
	background-color: #00BCD4;
	color: white;
}
.mat-form-field{
	padding-left:10px;
}
.validation-message{
	background-color: #00BCD4;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
