
<div class="service-header" fxLayout="column" fxLayoutAlign="center stretch" >

  <div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px;" fxLayout="row" fxLayoutAlign="center stretch">

    <div fxFlex="35"  fxFlex.lt-sm="100" fxLayout="row" style="background-color: #45aae3; padding: 20px;"  fxLayoutAlign="center stretch" >
      <div>
        <h3 class="mat-display-1"><i>"Really Make an Entrance"</i></h3>
        <mat-divider></mat-divider>
        <br>

        <p class="mat-body-2">
          Finest hand selected materials expertly crafted by our experienced team of joiners anf fabricators to create truly stunning and durable gates and fences.Whether you're looking for wooden or metal gates,We have a design to compliment your home!
        </p>
      </div>

    </div>

    <div fxFlex="65" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
      <!--<img style="width: 400px;" src="../../assets/images/bg/cdk.png">-->

      <angular-image-slider [images]="imagesUrl" class="bc"></angular-image-slider>


    </div>

  </div>
</div>






<div fxLayout="column" >


  <div fxLayout="row">
    <mat-toolbar color="primary">
      Featured products
    </mat-toolbar>
  </div>





  <div fxLayout="column" class="service-card-content" >

    <div fxLayout="row" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"  >

      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card bc2"
          >
        <img src="../../assets/images/gates/Driveway%20gate.jpg" fxFlex>

        <h3 class="color"  fxFlex>Driveway Gate</h3>
        <p class="mat-body-2"  fxFlex>This Decorative Driveway Gate Design is available in a matching
          Walk Gates...</p>
        <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
        <button mat-icon-button color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon"   (click)="changeIcon1('favorite')"   >{{icon1}}</mat-icon>
        </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon"   (click)="shareProduct1()"   >share</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon"   (click)="openProduct1()" >visibility</mat-icon>
          </button>

        </div>


      </div>



      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  >
        <img src="../../assets/images/gates/Holme%20Garden%20Gate.jpg" fxFlex>

        <h3 class="color" fxFlex>Garden Gate</h3>
        <p class="mat-body-2"  fxFlex>This Lovely Design has a metal backing for privacy another version...</p>
        <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
        <button mat-icon-button color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon"   (click)="changeIcon2('favorite')"   >{{icon2}}</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon"   (click)="shareProduct1()"   >share</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon"   (click)="openProduct2()"     >visibility</mat-icon>
        </button>
        </div>




      </div>

      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  >
        <img src="../../assets/images/gates/Rail1.jpg" fxFlex>

        <h3 class="color"  fxFlex>Railing</h3>
        <p class="mat-body-2"  fxFlex>Metal handrails can add a very appealing touch to your home or building...</p>


        <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >

        <button mat-icon-button color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon"   (click)="changeIcon3('favorite')"   >{{icon3}}</mat-icon>
        </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon"   (click)="shareProduct1()"   >share</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon"   (click)="openProduct3()"  >visibility</mat-icon>
          </button>


        </div>


      </div>

    </div>










    </div>




  </div>
<div class="service-header" fxLayout="column" fxLayoutAlign="center stretch" >

  <div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px;
}" fxLayout="row" fxLayoutAlign="center stretch">

    <div fxFlex="35"  fxFlex.lt-sm="100" fxLayout="row" style="background-color: #45aae3; padding: 20px;"  fxLayoutAlign="center stretch" >
      <div>
        <h3 class="mat-display-1">Our Services</h3>
        <mat-divider></mat-divider>
        <br>
        <br>
        <p class="mat-body-2">
          Great Range Of Designs,Professionally Installed,Stylish and Affordable,Great Customer Service,Family owned business,Environmentally Friendly Aluminium
          YOUR ONE - STOP SOURCE Design, plan your product!
        </p>
      </div>

    </div>

    <div fxFlex="65" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
      <img style="width: 400px;" src="../../assets/images/bg/cdk.png">




    </div>

  </div>
</div>

<mat-toolbar color="primary" align="center">
  <mat-toolbar-row align="center">
    <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" align="center">
      <b>Follow Us!</b>
    </div>

  </mat-toolbar-row>

  <mat-toolbar-row >

    <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" align="center">

      <button mat-icon-button color="primary"  onclick="window.location.href='https://www.facebook.com/'">

          <img class="logo-image" src="../../assets/images/slideshows/square-facebook-512.png" style="width:40px;height:40px;">

        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-icon-button color="primary" onclick="window.location.href='https://twitter.com/'">

        <img class="logo-image" src="../../assets/images/slideshows/square-twitter-512.png" style="width:40px;height:40px;">

      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-icon-button color="primary" onclick="window.location.href='https://www.instagram.com/?hl=en'">

        <img class="logo-image" src="../../assets/images/slideshows/instagram-square-flat-3-512.png" style="width:40px;height:40px;">

      </button>&nbsp;

    </div>



  </mat-toolbar-row>

</mat-toolbar>



