
<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

    <div fxFlex class="slidetoggle-component-holder mat-elevation-z4">

    	<mat-toolbar class="slidetoggle-header">
    		<h1 class="mat-headline" >Slide-Toggle</h1>
    	</mat-toolbar>
    	
    	<div class="slidetoggle-container">
    		
    	   <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >

                    <h4 class="mat-subheading-1">Basic Slide-Toggles</h4>
                    <mat-divider></mat-divider>

                    <mat-slide-toggle>Slide me!</mat-slide-toggle>
                </div>
           

    			<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >

    				<h4 class="mat-subheading-1">Slide-Toggle configuration</h4>
    				<mat-divider></mat-divider>

                    <section>
                        <label>Color:</label>
                        <mat-radio-group [(ngModel)]="color">
                            <mat-radio-button value="primary">
                            Primary
                            </mat-radio-button>
                            <mat-radio-button value="accent">
                            Accent
                            </mat-radio-button>
                            <mat-radio-button value="warn">
                            Warn
                            </mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <section>
                        <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
                    </section>

                    <section>
                        <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
                    </section>

                    <label class="mat-title">Result</label>
                    <section>
                        <mat-slide-toggle
                        [color]="color"
                        [checked]="checked"
                        [disabled]="disabled">
                        Slide me!
                        </mat-slide-toggle>
                    </section>

                </div>

            </div>
        </div>
    </div>

    <div fxFlex class="slidetoggle-component-holder mat-elevation-z4">


    	<mat-toolbar class="slidetoggle-header">
    		<h1 class="mat-headline">Examples</h1>

		</mat-toolbar>

		<mat-tab-group fxFlexFill>

			<mat-tab label="TS">
                <div class="component-preview">
                <pre
                    style="white-space:pre-line;"><code [highlight]="slidetoggleHelpers?.tsSourceSlideToggle" [languages]="['typescript']"></code></pre>
                </div>
	        </mat-tab>

	        <mat-tab label="HTML">
                <div class="component-preview">
                <pre
                    style="white-space:pre-line;"><code [highlight]="slidetoggleHelpers?.htmlSourceSlideToggle" [languages]="['html']"></code></pre>
                </div>
	        </mat-tab>

	        <mat-tab label="PREVIEW">
                <div class="component-preview">
	        	    <div style="padding: 20px;">
		        	   <mat-slide-toggle>Slide me!</mat-slide-toggle>
			  	    </div>
                </div>
	        </mat-tab>

	    </mat-tab-group>

    </div>
</div>