.slidetoggle-header {
	background-color: #00BCD4;
	color: white;
	padding: 0 5px;
}
.slidetoggle-container {
	padding: 5px 15px 15px 15px;
}
.slidetoggle-component-holder {
	border: 1px solid #00BCD4;
	background-color: white;

	h4 {
		color: #00BCD4;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}