@mixin sales-list($theme) {
    
    .sales-list{
        margin: 10px 5px;
        background: white;
    }
    .pull-right{
        flex: 1 1 auto;
    }
    mat-list-item:hover {
        background: #e8eaf6;
        cursor: pointer;
    }
    .mat-chip {
        padding: 1px 13px;
    }
    
}
.nav-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
  }
}