<div class="sales-list mat-elevation-z4 ">
  <mat-toolbar>

    <mat-toolbar-row>
      <span>Sales List</span>
      <span class="pull-right"></span>
      <button mat-icon-button>
        <mat-icon (click)="reload();">refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          <span>List</span>
        </button>
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Print</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="showLoader" [color]="'primary'" [mode]="'indeterminate'" [value]="90" [bufferValue]="'10'">
  </mat-progress-bar>
  <mat-list>
    <mat-list-item *ngFor="let sale of sales">
      <img matListAvatar [src]="sale.companyIcon" alt="Image of {{sale.name}}">
      <h3> {{sale.companyName}} </h3>
      <span class="pull-right"></span>
      <mat-chip-list>
        <mat-chip *ngIf="sale.star" color="primary" selected="true">
          {{sale.star}} &nbsp; <mat-icon>star</mat-icon>
        </mat-chip>
        <mat-chip *ngIf="sale.watch" color="warn" selected="true">
          {{sale.watch}} &nbsp;<mat-icon>remove_red_eye</mat-icon>
        </mat-chip>
        <mat-chip *ngIf="sale.fork" color="accent" selected="true">
          {{sale.fork}} &nbsp;<mat-icon>content_copy</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-list-item>
  </mat-list>

</div>