<div >
  <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" align="center">
    <h2 mat-dialog-title>Share Our Products with your friends!</h2>



  </div>




  <mat-dialog-content align="center">

    <hr>

    <br>
    <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
    <button mat-icon-button color="primary"  onclick="window.location.href='https://www.facebook.com/'">

        <img class="logo-image" src="../../../../assets/images/socialmedia/facebook-512.png">



    </button>

      <button mat-icon-button color="primary"  onclick="window.location.href='https://twitter.com/'">

        <img class="logo-image" src="../../../../assets/images/socialmedia/twitter-512.png">



      </button>
      <button mat-icon-button color="primary"  onclick="window.location.href='https://plus.google.com/discover'">

        <img class="logo-image" src="../../../../assets/images/socialmedia/google-plus-512.png">



      </button>
      <button mat-icon-button color="primary" onclick="window.location.href='https://www.instagram.com/?hl=en'">

        <img class="logo-image" src="../../../../assets/images/socialmedia/instagram-round-flat-512.png">




      </button>
    </div>









    <!--<strong>{{data}}</strong>-->
  </mat-dialog-content>
  <br>
  <hr>

  <mat-dialog-actions>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"  (click)="onCloseConfirm()">keyboard_arrow_left</mat-icon>
    </button>


  </mat-dialog-actions>
</div>
