// cdk-cards {
	.cards-header {
		background-color: #327ebd;
		color: white;
		padding: 0 5px;
	}
	.cards-container {
		padding: 5px;
		// color: white;
	}
	.example-header-image {
  background-image: url('../../../assets/shibainu.jpg');
  background-size: cover;
}
// }

.cdk-card-holder {
	border: 1px solid #327ebd;
	background-color: white;
}