<div fxLayout="column" fxFlex="75" fxFlex.xs="100"  fxFlex.sm="90"class="widgetHolder mat-elevation-z4"  fxLayoutGap="20px"  >
	<mat-toolbar>
		Our Services
		<span class="spacer"></span>
	</mat-toolbar>
	<div fxLayout="row" class="" fxLayoutAlign="space-around stretch"  >
		<div fxLayout="column" fxLayoutGap="20px" >
			<div fxFlex="50" fxFlex.lt-sm=100   fxLayout="column" fxLayoutAlign="start stretch"  >
				<mat-card class="example-card">
					<mat-card-content>
						<img mat-card-image src="/assets/pages/strategy.png" alt="Photo of Strategy">
					</mat-card-content>
					<mat-card-content>
						<mat-toolbar>
							Strategy
							<span class="spacer"></span>
						</mat-toolbar>
						<p>From ideation to market research:Discover, Design, plan your product!</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<div fxLayout="column" fxLayoutGap="20px">
			<div fxFlex="50" fxFlex.lt-sm=100 fxLayout="column" fxLayoutAlign="start stretch">
				<mat-card class="example-card">
					<mat-card-content>
						<img mat-card-image src="/assets/pages/webdesign.png" alt="Photo of Web Design">
					</mat-card-content>
					<mat-card-content>
						<mat-toolbar>
							Web Design
							<span class="spacer"></span>
						</mat-toolbar>
						<p>From ideation to market research:Discover, Design, plan your product!</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<div fxLayout="column" fxLayoutGap="20px">
			<div fxFlex="50" fxFlex.lt-sm=100 fxLayout="column" fxLayoutAlign="start stretch"  >
				<mat-card class="example-card">
					<mat-card-content>
						<img mat-card-image src="/assets/pages/mobile.png" alt="Photo of Mobile">
					</mat-card-content>
					<mat-card-content>
						<mat-toolbar>
							Mobile
							<span class="spacer"></span>
						</mat-toolbar>
						<p>From ideation to market research:Discover, Design, plan your product!</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="" fxLayoutAlign="space-around stretch">
		<div fxLayout="column" fxLayoutGap="20px" >
			<div fxFlex="50" fxFlex.lt-sm=100   fxLayout="column" fxLayoutAlign="start stretch"  >
				<mat-card class="example-card">
					<mat-card-content>
						<img mat-card-image src="/assets/pages/custom.png" alt="Photo of Custom 
							Application">
					</mat-card-content>
					<mat-card-content>
						<mat-toolbar>
							Custom 
							Application
							<span class="spacer"></span>
						</mat-toolbar>
						<p>From ideation to market research:Discover, Design, plan your product!</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<div fxLayout="column" fxLayoutGap="20px">
			<div  fxFlex.lt-sm=100 fxLayout="column" fxLayoutAlign="start stretch">
				<mat-card  class="example-card">
					<mat-card-content >
						<img mat-card-image src="/assets/pages/ecommerce.png" alt="Photo of E-commerce">
					</mat-card-content>
					<mat-card-content>
						<mat-toolbar>
							E-commerce
							<span class="spacer"></span>
						</mat-toolbar>
						<p>From ideation to market research:Discover, Design, plan your product!</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<div fxLayout="column" fxLayoutGap="20px">
			<div fxFlex="50" fxFlex.lt-sm=100 fxLayout="column" fxLayoutAlign="start stretch"  >
				<mat-card class="example-card">
					<mat-card-content>
						<img mat-card-image src="/assets/pages/prototype.png" alt="Photo of Prototypes">
					</mat-card-content>
					<mat-card-content>
						<mat-toolbar>
							Prototypes
							<span class="spacer"></span>
						</mat-toolbar>
						<p>From ideation to market research:Discover, Design, plan your product!</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
