<div fxLayout="column" class="page" style="padding: 20px 0;">
	<mat-toolbar color="primary">
		Services
	</mat-toolbar>
	<div fxLayout="row" >
		<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" >
			<mat-card class="nav-item">
				<mat-card-title class="nav-title"><a href="www.codetok.com" target="_blank">Web Design</a></mat-card-title>

				<img mat-card-image src="/assets/pages/webdesign.png">
				<mat-card-content class="nav-desc">From ideation to market research:Discover, Design, plan your product!</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" >
			<mat-card class="nav-item">
				<mat-card-title class="nav-title"><a href="www.codetok.com" target="_blank">E-commerce</a></mat-card-title>
				<img mat-card-image src="/assets/pages/ecommerce.png">
				
				<mat-card-content class="nav-desc">From ideation to market research:Discover, Design, plan your product!</mat-card-content>
				
			</mat-card>
		</div>
		<div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" >
			<mat-card class="nav-item">
				<mat-card-title class="nav-title"><a href="www.codetok.com" target="_blank">Mobile</a></mat-card-title>

				<img mat-card-image src="/assets/pages/mobile.png">
				<mat-card-content class="nav-desc">From ideation to market research:Discover, Design, plan your product!</mat-card-content>
			</mat-card>
		</div>
	</div>
	<div fxLayout="row" >
		<div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" >
			<mat-card class="nav-item">
				<mat-card-title class="nav-title"><a href="www.codetok.com" target="_blank">Custom Application</a></mat-card-title>

				<img mat-card-image src="/assets/pages/custom.png">
				<mat-card-content class="nav-desc">From ideation to market research:Discover, Design, plan your product!</mat-card-content>
				
			</mat-card>
		</div>
		<div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" >
			<mat-card class="nav-item">
				<mat-card-title class="nav-title"><a href="www.codetok.com" target="_blank">Strategy</a></mat-card-title>

				<img mat-card-image src="/assets/pages/strategy.png">
				<mat-card-content class="nav-desc">From ideation to market research:Discover, Design, plan your product!</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" >
			<mat-card class="nav-item">
				<mat-card-title class="nav-title"><a href="www.codetok.com" target="_blank">Prototypes</a></mat-card-title>

				<img mat-card-image src="/assets/pages/prototype.png">
				<mat-card-content class="nav-desc">From ideation to market research:Discover, Design, plan your product!</mat-card-content>
				
			</mat-card>
		</div>
	</div>
</div>

