<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" fxFlexFill style="padding: 20px;">

	<div fxLayout="column" style="background-color: white; padding: 10px;" fxLayoutAlign="space-between stretch"
		fxLayoutGap="10px" fxFlexFill>
		<div>
			<mat-toolbar>
				<h3 class="mat-heading">
					Move items between multi list sortable containers
				</h3>
			</mat-toolbar>
		</div>
		<!-- <div fxFlexFill>	 -->
		<div cdkDropListGroup fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column">
			<div cdkDropList [cdkDropListData]="tasks" class=" mat-elevation-z4" fxFlex="35" (cdkDropListDropped)="drop($event)">
				<mat-toolbar>
					<h5 class="mat-title">Tasks</h5>
				</mat-toolbar>
				<mat-nav-list>
					<mat-list-item class="list-group-item" *ngFor="let item of tasks; let i=index" cdkDrag>
						{{ item }}
					</mat-list-item>
				</mat-nav-list>
			</div>

			<div cdkDropList [cdkDropListData]="developers" class=" mat-elevation-z4" fxFlex="35"
				(cdkDropListDropped)="drop($event)">
				<mat-toolbar>
					<h5 class="mat-title">Developers</h5>
				</mat-toolbar>
				<mat-list>
					<mat-list-item class="list-group-item" *ngFor="let item1 of developers; let x = index" cdkDrag>
						{{item1}}
					</mat-list-item>
				</mat-list>
			</div>
			<div cdkDropList [cdkDropListData]="testers" class=" mat-elevation-z4" fxFlex="35" (cdkDropListDropped)="drop($event)">
				<mat-toolbar>
					<h5 class="mat-title">Testers</h5>
				</mat-toolbar>
				<mat-list>
					<mat-list-item class="list-group-item" *ngFor="let item2 of testers; let y = index" cdkDrag>
						{{item2}}
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</div>
</div>