<div style="align-self: center" class="main">


  <div class="two" text-align="right" style="align-self: center">
    <div class="register">
      <h3>Create your account</h3>
      <form id="reg-form1">
        <div>
          <label for="username1">Username</label>
          <input type="text" id="username1"   spellcheck="false" placeholder="Ravindu"  pattern="[a-z0-9A-Z]"class="form-control"
          name="username1" ngModel #username="ngModel" required/>

          <div *ngIf="emailref.errors && (username.touched||username.dirty)" class="alert alert-danger">
            <div id="usernameerror" name="usernameerror" [hidden]="!username.errors?.pattern" style="color: crimson">
              <label class="err"></label> Enter Valid user name
            </div>
          </div>

        </div>
        <div>
          <label for="email1">Email</label>
          <input type="text" id="email1" spellcheck="false" class="form-control" placeholder="ravindu@xyz.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+[a-z]{2,3}$" name="email"
          ngModel #emailref="ngModel" required/>
          <div *ngIf="emailref.errors && (emailref.touched||emailref.dirty)" class="alert alert-danger">
            <div id="emailerror" name="emailerror"[hidden]="!emailref.errors?.pattern" style="color: crimson">
             <label class="err"></label> Enter Valid Email address
            </div>
          </div>
        </div>

        <div>
          <label for="password1" pattern="[a-zA-Z0-9._@#$%&]" [attr.required]="true">Password</label>
          <input type="password" id="password1" required/>
        </div>
        <div>
          <label for="password-again1">Confirm Password</label>
          <input type="password" id="password-again1"  required/>
        </div>

        <div class="sep">
        <span>
        <div>
          <div class="sep">
            <span class="orr">Contacts</span>
          </div>

          <label for="telephone">Telephone</label>
          <input type="text" id="Telephone" spellcheck="false" placeholder="Telephone" required/>
        </div>
        <div>
        <label for="address">Address</label>
        <input type="text" id="Address" spellcheck="false" placeholder="Address" required/>

        </div>

        </span>
        </div>
        <div>
          <label></label>
          <input type="submit" value="Create Account" id="create-account1" class="button" align="center"/>
        </div>
      </form>
      <div class="sep">
        <span class="or">OR</span>
      </div>
      <div class="connect">
        <div class="social-buttons facebook">
          <a href="#">
            <span>Facebook</span>
          </a>
        </div>
        <div class="social-buttons twitter">
          <a href="#">
            <span>Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


