<div  class="mat-elevation-z4 new-messages" >
    <mat-toolbar color="primary" >
        New messages
    </mat-toolbar>
    <mat-list>
        
        <mat-list-item *ngFor="let message of [1,2,3,4,5]">
            <img matListAvatar src="http://eliteadmin.themedesigner.in/demos/plugins/images/users/sonu.jpg" >
            <h3 matLine> hari </h3>
            <p matLine>
                <span> hari lrisjns </span>
                <span class="demo-2">
                    helloo this is the 
                </span>
            </p>
        </mat-list-item>       
    </mat-list>
</div>