<div>
  <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
    <h2 mat-dialog-title>Driveway Gate</h2>



  </div>
  <hr>



  <mat-dialog-content>
    <img src="../../../../assets/images/gates/Driveway%20gate.jpg" fxFlex>
    <hr>
    <p align="justify">This Decorative Driveway Gate Design is available in a matching
      Walk Gates and at Picket Fences section. Very strong and Decorative
      Aluminum Gate, One of our most popular Designs. A large variety of colors to
      choose from that are Powder Coat Electrostatic Oven Baked for a superb
      lasting finish. Price is for Aluminum, e-mail us for a quote in Wrought iron. Sea
      Shells Decorative Aluminum Driveway Gate Frame is 2"x 2" with a center
      divider 2"x 2" this Driveway Gate is 10ft in width, 6ft at sides and arching to 7ft
      6" at center, Design are 1/4"x 2" Flat stock, Pickets 1"x 1" with 2 slip in collars
      in each, Gate Frame 2"x 2", top horizontal in a Arch 1"x 2". Because of the
      complexity of the Design is not available in Height less than 5ft.</p>
    <i>
                             <span>
                                      <b>
                                                     Price - 100$
                                                     <br/>
                                                     Made In - USA
                                             </b>
                                        </span>
    </i>

    <br>








    <!--<strong>{{data}}</strong>-->
  </mat-dialog-content>

  <hr>
  <mat-dialog-actions>

    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"  (click)="onCloseConfirm()">keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"  >local_grocery_store</mat-icon>
    </button>

  </mat-dialog-actions>
</div>
