

<div fxLayout="row" >
  <mat-toolbar color="primary">
    FAQ
  </mat-toolbar>
</div>
<!--<div fxLayout="row"  >-->
<!--</div>-->
<div fxLayout="column" >
<br>


  <div fxLayout="row" >
    <mat-toolbar color="primary">
      General Questions
    </mat-toolbar>
  </div>
  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>What is the deal with this store?</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        This is the official Cards Against Humanity store.We made it ourselves so that we could cut all of the middle men between us and you.
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>

  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Is it safe to put my creditcard number into this website?</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        Probably,We don't store any of your credit card information(that's handled by our payment processor Stripe,the best in the business)and we will never share your personal information with anyone else.
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>

  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>What is your privacy policy?</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        We will never share your information with any third party.Who is a third party?Well the first party is us,and the second party is you.So a third party is anyone other than us and you.And,you know,they probably have enough already.
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>

  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>How to make the order?</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        This Modern Garden gate is with a Island Thyme is Custom made according to the wishes of a home owner. A Metal Security Driveway Gates Don't have to take away from the beauty of your main home Entrance we can Custom make the
        gate to compliment you home Entry.      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>


  <hr/>

  <div fxLayout="row" >
    <mat-toolbar color="primary">
     Shipping/Returns
    </mat-toolbar>
  </div>
  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>My order never received?</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        Check your order confirmation email for the tracking number.If that doesn't work,send us an email,tell us what you ordered and your order number,and we'll help you out.
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>

  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>My order arrived incomplete or damaged</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        Take a deep breath.Contemplate the transience of all things.In your mind's eye,envision the faces of everyone you love and everything you hold dear,and let them go.Then send us an email.Tell us what you ordered and your order number,and we'll help out.
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>


  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>I would like to return my order</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        Send us an email at LAOrnamental@Aol.com      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>

  <hr/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>It's 2018 and somehow i screwed up address form</b>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mat-body-1" align="justify">
        How is that even possible?Send us an email at LAOrnamental@Aol.com   </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">


    </mat-expansion-panel>
  </mat-accordion>


  <hr/>

  <mat-card>
    <mat-card-header>

      <mat-card-title><b>Still haven't found what your're looking for?</b></mat-card-title>

    </mat-card-header>


    <mat-card-actions>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="openDialog()"><b>Write to Us</b></button>
      <hr>
      <!--<strong>Result:{{dialogResult}}}</strong>-->


    </mat-card-actions>
  </mat-card>
  <hr/>


