<div class="mat-elevation-z4" >
    <mat-toolbar class="sub-toolbar">
        <mat-icon  >verified_user</mat-icon>&nbsp;Title one
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon class="refresh">refresh</mat-icon>    
        </button>
        
    </mat-toolbar>
    <mat-list>
        <mat-list-item >
            <img mat-list-avatar src="https://avatars3.githubusercontent.com/u/167227?v=4&s=88">
            <h3 mat-line> Sophie </h3>
            <button mat-button color="accent">Primary</button>
            <mat-chip  selected color="warn">Primary</mat-chip>
        </mat-list-item>          
        <mat-list-item >
            <img mat-list-avatar src="https://avatars3.githubusercontent.com/u/167227?v=4&s=88">
            <h3 mat-line> Sophie </h3>
            <button mat-button color="warn">Primary</button>
            <mat-chip   selected  color="accent">Primary</mat-chip>
            
        </mat-list-item>          
        <mat-list-item >
            <img mat-list-avatar src="https://avatars3.githubusercontent.com/u/167227?v=4&s=88">
            <h3 mat-line> Sophie </h3>
            <button mat-button color="primary">Primary</button>
        </mat-list-item>          
        <mat-list-item >
            <img mat-list-avatar src="https://avatars3.githubusercontent.com/u/167227?v=4&s=88">
            <h3 mat-line> Sophie </h3>
            <button mat-button color="primary">Primary</button>
            <mat-chip  selected color="primary">Primary</mat-chip>
        </mat-list-item>          
    </mat-list>
</div>

