
.country:hover{
  stroke: #fff;
  stroke-width: 1.5px;
}
.text{
  font-size: 10px;
  text-transform:capitalize;
}
#container {
  margin: 0;
  border: 1px solid #3a3f4f;
  border-radius: 2px;
  height:100%;
  overflow:hidden;
  background: #575e70;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}
.graticule {
  fill: none;
  stroke: #8f8f8f;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}
