<div>
  <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
    <b><h2 mat-dialog-title class="color">Railing</h2></b>



  </div>
  <hr>



  <mat-dialog-content>
    <img src="../../../../assets/images/gates/Rail1.jpg" fxFlex>
    <hr>
    <p align="justify">Metal handrails can add a very appealing touch to your home or building on your balcony, porch, deck, or
      interior handrails, as well as being extremely durable. Given that just about every home has steps, stairs or, at
      the very least, a slope of some kind, so many properties could benefit from a well-crafted metal handrails either
      indoor or outdoor.Most metal porch, deck, balcony handrails are made of steel since it is cheaper than its main alternatives -
      wrought iron and aluminium. The concept of metal handrails has changed considerably in the last few years.
      Not long ago, all that was on offer were pieces of steel pipe or tube inserted through hoops which were fixed
      to the wall or welded to posts. </p>
    <i>
                             <span>
                                      <b>
                                                     Price - 200$
                                                     <br/>
                                                     Made In - USA
                                             </b>
                                        </span>
    </i>

    <br>








    <!--<strong>{{data}}</strong>-->
  </mat-dialog-content>

  <hr>
  <mat-dialog-actions>

    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"  (click)="onCloseConfirm()">keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"   (click)="openDialog()">local_grocery_store</mat-icon>
    </button>

  </mat-dialog-actions>
</div>
