

<div fxLayout="column" fxLayout.xs="column" style="background-color: white;padding: 10px;">

	<div class="mat-headline">
		Global sales report
	</div>

	<div fxLayout="row" fxLayout.xs="column" >
		<div fxFlex.gt-xs="45"  >

			<table fxFlexFill class="table">
					<tr>
						<td class="mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
					</tr>
					<tr>
						<td class="mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
					</tr>
					<tr>
						<td class="mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
					</tr>
					<tr>
						<td class="mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
					</tr>
					<tr>
						<td class="mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
						<td class="text-right mat-subheading-1">India</td>
					</tr>
			</table>
			
		</div>

		<div fxFlex.gt-xs="10"></div>

		<div style="padding: 5px 10px;" fxFlex.gt-xs="45">
			<div id="chartdiv"  style="height: 300px;" >
		</div>
		</div> 
	</div>
</div>


