.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}
.table tr:first-child td {
    border-top: none;
}

.text-right {
	text-align: right;
}

th, td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #ddd;
}
.nav-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
  }
}
