@mixin dashboard-profile($theme) {

    .profile-card-holder{
        margin: 10px 5px;
        min-height: 300px;
        padding: 5px;
        background:white;
        box-sizing: border-box;
        color:white;
        background-image: -webkit-linear-gradient(45deg, mat-color($primary,400) 45%, mat-color($primary,300)  45%);
        & .banner-content{
            height: auto;           
        }
        
        & .banner {
            background-size: screen;
            min-height: 56px;
            background-repeat: no-repeat;
            color: white;
        }
        .profile-card-content{
            padding: 10px;
        }
    }
}
