<div  class="profile-card-holder "  >
    <div fxLayout="column" >
        <div fxLayout="row" fxLayoutAlign="space-around center"  >
            <div  class="banner">
                 <img width="100" [style.borderRadius]="'50%'" src="./assets/user-image.jpg">
            </div>
        </div>
        <div   class="profile-details mat-elevation-z8" >
            <div fxLayout="column" class="profile-details-holder" fxLayoutAlign="space-around center">
                <h1 class="mat-headline center-align" >Hari Krishna S</h1>
                <h1 class="mat-subheading-1 center-align" >CTO/CO FOUNDER Codetok.com</h1>
                <button class="Follow " mat-raised-button color="warn">Follow</button>
            </div>
        </div>
        
    </div>
</div>