    .dashcard{
        background:#2196F3; //500
        color:white;
    }
    .cardIcon{
        height: 50px;
        width: 50px;
        font-size: 50px;
        color: white;  ;
    }
    .no-margin{
        margin: 0px;
    }
    .iconblox{
        background:#1976D2;//700
    }
    .border-top {
        border-top: 1px solid white;
    }

