
<mat-list (click)="openMenu = !openMenu;" class="userMenuHolder" fxHide.lt-sm>
  <mat-list-item>
    <img mat-list-avatar src="http://fury.visurel.com/assets/img/avatars/noavatar.png" >
    <h4 mat-line fxHide.lt-sm>Hari Krishna</h4>
    <mat-list class="personelMenu" [ngClass]="{'open':openMenu}" >
      <mat-list-item > 
        <i class="material-icons">perm_identity</i>
        <h4 mat-line>Profile</h4> 
      </mat-list-item> 
      <mat-list-item> 
        <i class="material-icons">settings</i>
        <h4 mat-line>Setting</h4> 
      </mat-list-item> 
      <mat-list-item> 
        <i class="material-icons">help</i>
        <h4 mat-line>Help</h4> 
      </mat-list-item> 
    </mat-list>
  </mat-list-item>
</mat-list>


<mat-menu fxHide.gt-sm fxHide.sm #appMenu="matMenu" yPosition="above">
    <button mat-menu-item> <mat-icon>perm_identity</mat-icon> Profile </button>
    <button mat-menu-item> <mat-icon>settings</mat-icon> Setting </button>
    <button mat-menu-item> <mat-icon>help</mat-icon> Help </button>
</mat-menu>

<mat-list fxHide.gt-sm fxHide.sm>
    <mat-list-item [matMenuTriggerFor]="appMenu">
    <img mat-list-avatar fxHide.gt-sm src="http://fury.visurel.com/assets/img/avatars/noavatar.png" >
    </mat-list-item>
</mat-list>