<div>
  <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
    <b><h2 mat-dialog-title class="color">Garden Gate</h2></b>



  </div>
  <hr>



  <mat-dialog-content>
    <img src="../../../../assets/images/gates/Holme%20Garden%20Gate.jpg" fxFlex>
    <hr>
    <p align="justify">This Lovely Design has a metal backing for privacy another version of this design is with the backing in
      just the lower part of the gate-- Or extending the top design all the way to the bottom and removing the
      backing.Gate Frame is made of 2"x2"x.125, there is a secound frame inside the outer frame that hold the backing
      this other frame and the rest of the material is 3/4"x3/$' solid including Top Crown and pickets which have
      a slip collar with gold highlights, the backing is .070 aluminum sheet and the design at the bottom center
      is cast Aluminum several others are available in our Aluminum casting section. Includes lMounting
      Posts,Hinges and Lock.</p>
    <i>
                             <span>
                                      <b>
                                                     Price - 180$
                                                     <br/>
                                                     Made In - USA
                                             </b>
                                        </span>
    </i>

    <br>








    <!--<strong>{{data}}</strong>-->
  </mat-dialog-content>

  <hr>
  <mat-dialog-actions>

    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"  (click)="onCloseConfirm()">keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon"  (click)="openDialog()" >local_grocery_store</mat-icon>
    </button>

  </mat-dialog-actions>
</div>
