<div class="components-container-gt-xs" >
    <div  fxLayout="column"   fxLayoutGap="20px" fxFlex=97 class="container" >

        <div fxFlex="49" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" >
            <div  fxFlex="49"  fxFlex.lt-sm="90" class="mat-elevation-z4 " fxLayoutAlign="space-around center"  fxLayout="column"  [ngStyle]="{ 'height':'350px','background':'white'
    }">
                <h2 class="mat-body-1 center-align ">AREA CHART</h2> 
                <cdk-area-chart></cdk-area-chart>

            </div>
            <div  fxFlex="49"  fxFlex.lt-sm="90" class="mat-elevation-z4 "   fxLayoutAlign="space-around center" fxLayout="column" [ngStyle]="{ 'height':'350px','background':'white'}">
                <h2 class="mat-body-1 center-align ">DOUGHNUT CHART</h2>
                <cdk-doughnut-chart ></cdk-doughnut-chart>

            </div>
        </div>
        <div fxFlex="49"  fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
            <div fxFlex="49" fxFlex.lt-sm="90" class="mat-elevation-z4 " fxLayoutAlign="space-around center" fxLayout="column" [ngStyle]="{ 'height':'350px','background':'white'}">
                <h2 class="mat-body-1 center-align " >PIE CHART</h2>
                <cdk-pie-chart></cdk-pie-chart>
            </div>
            
            <div fxFlex="49"  fxFlex.lt-sm="90" class="mat-elevation-z4 "  fxLayout="column" fxLayoutAlign="space-around center"  [ngStyle]="{  'height':'350px','background':'white'}">
                <h2 class="mat-body-1 center-align " fxFlex=20 fxLayoutAlign="space-around center">GUAGE CHART</h2>
                <cdk-guage-chart></cdk-guage-chart>
            </div>
        </div>
    </div>
</div>
