<div  fxLayout="column"   fxLayoutGap="20px" fxFlex=97 class="container" >

    <div fxFlex="49" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" >
        <div  fxFlex="49"  fxFlex.lt-sm="90" class="mat-elevation-z4 " fxLayoutAlign="space-around center"  fxLayout="column"  [ngStyle]="{ 'height':'350px','background':'white'
}">
            <h2 class="mat-headline center-align ">AREA CHART</h2> 
            <app-area-chart></app-area-chart>

        </div>
        <div  fxFlex="49"  fxFlex.lt-sm="90" class="mat-elevation-z4 "   fxLayoutAlign="space-around center" fxLayout="column" [ngStyle]="{ 'height':'350px','background':'white'}">
            <h2 class="mat-headline center-align ">DOUGHNUT CHART</h2>
            <app-doughnut-chart ></app-doughnut-chart>

        </div>
    </div>
    <div fxFlex="49"  fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <div fxFlex="49" fxFlex.lt-sm="90" class="mat-elevation-z4 " fxLayoutAlign="space-around center" fxLayout="column" [ngStyle]="{ 'height':'350px','background':'white'}">
            <h2 class="mat-headline center-align " >PIE CHART</h2>
            <app-pie-chart></app-pie-chart>
        </div>
        
        <div fxFlex="49"  fxFlex.lt-sm="90" class="mat-elevation-z4 "  fxLayout="column" fxLayoutAlign="space-around center"  [ngStyle]="{  'height':'350px','background':'white'}">
            <h2 class="mat-headline center-align " fxFlex=20 fxLayoutAlign="space-around center">GUAGE CHART</h2>
            <app-guage-chart></app-guage-chart>
        </div>
    </div>
</div>
