<div fxLayout="row"  class="dashcard mat-elevation-z4 "  >
    <div fxFlex="40" fxLayout="row"  fxLayoutAlign="center center" [style.background]="dashData?.colorLight">
        <mat-icon  class="cardIcon">{{dashData?.icon}}</mat-icon>
    </div>
    <div  fxFlex="60" fxLayout="column" fxLayoutAlign="center center" [style.background]="dashData?.colorDark" >
         
        <div style="color: white;font-size: 40px">
            {{ dashData?.number }}
        </div>
        <p class="mat-body-1 border-top">
            {{dashData?.title}}
        </p>
    </div>
</div>