<div fxLayout="column"  class="mat-elevation-z1 " style="background-color: white">

	<mat-toolbar class="autocomplete-header">
		<h1 class="mat-headline center-align" >Autocomplete</h1>
	</mat-toolbar>
	
	<div class="autocomplete-container">
		
		<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

			<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
				<h4 class="mat-subheading-1 center-align" style="color: #2196F3;margin: 14px 0;" >
				Basic Autocomplete</h4>
				<mat-divider></mat-divider>

				<form class="example-form">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
							<img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
							<span >{{ state.name }}</span> 
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<br />
					<mat-slide-toggle
						[checked]="stateCtrl.disabled"
						(change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
						Disable Input?
					</mat-slide-toggle>
				</form>

			</div>
		</div>
	</div>


	<mat-toolbar class="autocomplete-header" style="    margin-top: 10px;">
		<h1 class="mat-headline center-align" >Examples</h1>
	</mat-toolbar>

	<mat-tab-group fxFlexFill>
		<mat-tab label="TS">
            <pre style="white-space:pre-line;"><code mwlHighlightJs [source]="autocompleteHelpers?.tsSourceAutocomplete" language="typescript"></code></pre>
        </mat-tab>
        <mat-tab label="HTML">
            <pre style="white-space:pre-line;"><code mwlHighlightJs [source]="autocompleteHelpers?.htmlSourceAutocomplete" language="html"></code></pre>
        </mat-tab>

        <mat-tab label="PREVIEW">
        	<div style="padding: 20px;">
        		
        		<form class="example-form">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
							<img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
							<span>{{ state.name }}</span> 
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<br/>
					<mat-slide-toggle
						[checked]="stateCtrl.disabled"
						(change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
						Disable Input?
					</mat-slide-toggle>
				</form>

			</div>
		</mat-tab>
	</mat-tab-group>	

</div>